@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
}

#profile_picture{
    width: 90px;
    height: 90px;
    border-radius: 25px;
}

#profile{
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 8px;
    padding-bottom: 2vh;
}

#profile section{
    margin-top: auto;
    margin-bottom: auto;
}

nav{
    background-color: #333333;
    color: #F5F5F5;
    padding-left: 1.5vw;
    padding-top: 1vh;
}

nav ul{
    list-style: none;
    font-size: 3rem;
}

a{
    color: inherit;
    text-decoration: underline;
}

a:hover{
    font-weight: bold;
}

li{
    padding-top: 3vh;
    padding-bottom: 3vh;
}

nav p{
    padding-top: 31vh;
    padding-bottom: 2vh;
}

#content{
    padding: 2%;
}